@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* reset */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;-ms-overflow-style:scrollbar;box-sizing:border-box;-webkit-box-sizing:border-box;}
body{font-family:"Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;font-size:100%;font-weight:400;color:#222;line-height:1.4;word-wrap:break-word;word-break:break-all;-webkit-text-size-adjust:none;-ms-text-size-adjust:100%;text-size-adjust:none;}

/* basic tags selector */
img{max-width:100%;vertical-align:middle;}
strong, b{font-family:inherit;font-weight:800;}
em,address{font-style:normal;}
ol,ul,li{list-style:none;}
table{width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
fieldset, legend{background-color:transparent;}
caption, legend, .blind{position:absolute !important;height:1px !important;width:1px !important;overflow:hidden !important;clip:rect(1px 1px 1px 1px) !important;clip:rect(1px,1px,1px,1px) !important;}
a{color:inherit;text-decoration:none;cursor:pointer;}
button{border:none;box-shadow:none;background:transparent;cursor:pointer;outline:none;border-radius:0;font:inherit;color:inherit;}
button:focus{outline-style:auto;outline: 2px solid -webkit-focus-ring-color;}

/* form select */
input,textarea,select{box-sizing:border-box;outline-style:none;font:inherit;color:inherit;padding:0.7rem;margin:0.5rem 0;border:none;border-radius:0.3rem;}
input[type='text'], input[type='password']{resize:none;box-shadow:none !important;outline:none;}
input:checked{-webkit-appearance:checkbox;}
input[type='text']::-ms-clear, input[type='tel']::-ms-clear{display:none;}
input[disabled], select[disabled], input[readonly], textarea[disabled], button[disabled] {cursor:default;}
input, textarea{-webkit-tap-highlight-color:rgba(0, 0, 0, 0)}
select{vertical-align:middle;outline:none;background:transparent;}
select::-ms-expand{display:none;}
select option{border:0;padding:0;}

#calendar-container {

}

/* 달력부분 */
:root {
  /* --fc-small-font-size: 0.85em;

  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: hsla(0, 0%, 82%, 0.3);
  --fc-neutral-text-color: grey;
  --fc-border-color: #ddd;

  --fc-button-text-color: #fff; */

  /* --fc-button-bg-color: #f3af00;
  --fc-button-border-color: #f3af00;

  --fc-button-hover-bg-color: #f8cf66;
  --fc-button-hover-border-color: #f8cf66;

  --fc-button-active-bg-color: #f8cf66;
  --fc-button-active-border-color: #f8cf66; */

  /* --fc-event-bg-color: #3788d8;
  --fc-event-border-color: none;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0, 0, 0, 0.25);

  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;

  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;

  --fc-non-business-color: hsla(0, 0%, 84%, 0.3);

  --fc-bg-event-color: #8fdf82;
  --fc-bg-event-opacity: 0.3;

  --fc-highlight-color: rgba(188, 232, 241, 0.3);
  --fc-today-bg-color: rgba(255, 220, 40, 0.15);

  --fc-now-indicator-color: red;

  --fc-daygrid-event-dot-width: 8px; */
}

.fc {
  /* height: 90vh;
  margin: 20px; */
}

.fc-daygrid {
  /* 그리드 스타일 */
  min-height: 100px; /* 최소 높이 설정 */
}

/* .fc-daygrid-event {
  border: none;
  cursor: pointer;
} */

/* 일요일 날짜: 빨간색 */
.fc .fc-day-sun a {
  color: rgb(225, 90, 0);
}

/* 토요일 날짜: 파란색 */
.fc .fc-day-sat a {
  color: #007fb9;
}

.fc .fc-toolbar{
  flex-wrap: wrap;
}

/* 타이틀 */
.fc .fc-toolbar-title {
  font-weight: 700;
  font-size: 1.8rem;
}

/* title이 잘리는 현상 */
.fc-event .fc-event-main{
  /* overflow: hidden; */
}

/* 일정표 툴 바  */
.fc .fc-toolbar.fc-header-toolbar {
  margin: 0;
  padding: .6rem 1rem;
  background-color: #089196;
  font-size: 1rem;
  line-height: 1;
  color: white;
}

/* 툴바의 버튼 */
.fc .fc-toolbar-chunk .fc-button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
}

/* 툴바 사용 불가 버튼 스타일 */
/* .fc .fc-toolbar-chunk .fc-button:disabled {
  color: #e8e8e8;
} */
/* 툴바 사용 불가 버튼 hover 시 스타일 주지 않기 */
/* .fc .fc-toolbar-chunk .fc-button:disabled:hover {
  background-color: transparent;
} */

/* 툴바 버튼 포커스 시 그림자 제거 */
/* .fc .fc-toolbar-chunk .fc-button:focus {
  box-shadow: none;
} */

/* 툴바 버튼 hover 시 배경색 변경 */
.fc .fc-toolbar-chunk .fc-button:hover {
  background-color: #87cdcf;
}

/* 날짜변경 화살표 아이콘 */
/* .fc .fc-button-primary span {
  font-weight: 600;
  font-size: 1rem;
} */

/* 요일의 높이 */
.fc-theme-standard th {
  height: 2rem;
  background: #f5f5f5;
  font-weight: 600;
  color: #7b7b7b;
  vertical-align: middle;
}

/* Today Cell에 배경색 주기 */
.fc .fc-daygrid-day.fc-day-today {
  background-color: #f4f4f4;
}

/* 날짜 Cell 프레임 */
.fc .fc-daygrid-day-frame {
  padding: 0.3rem;
}

/* 월간,주간 view의 Cell이 시작하는 위치 */
.fc .fc-daygrid-day-top {
  flex-direction: row;
  height: 1.5rem;
  margin-bottom: 0;
}

/* 날짜 숫자 z-index 초기화 */
.fc .fc-daygrid-day-number {
  font-size: 0.9rem;
  padding: 0.1rem;
  color:#777;
}


/* 이벤트 막대 스타일 */
.fc-event {
  padding: 0.05rem 0.4rem;
  margin-bottom: 0;
  border-radius: 0.3rem;
  border: 0;
  font-weight: 600;
  font-size: 0.9rem;
}

.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 0;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-start, .fc-direction-rtl .fc-daygrid-event.fc-event-end {
  margin-left: 0;
}

/* 일정 완료 취소 표시 */
.completed-event .fc-event-title,
.completed-event .fc-event-main {
  text-decoration: line-through;
  /* opacity: 0.5; */
}
.tooltip .completed {
  /* text-decoration: line-through; */
  color: #777;
}
.modal .completed > div {
  display: inline-block;
  background: #eae8f5;
  border-radius: 20rem;
  padding: 0.4rem 0.8rem;
  margin-left: 1rem;
  cursor: pointer;
}

/* 모달 팝업 */
.modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 5;
  display: none;
}

.modal {
  position: relative;
  background-color: #fefefe;
  padding: 2rem;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 0.6rem;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.modal header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
}
.modal h3 {
  display: flex;
  font-size: 1.7rem;
  font-weight: 800;
}

.modal label {
  display: flex;
  align-items: center;
  margin: 0;
}

.modal input {
  flex: 1;
  background: #f4f4f4;
}
.modal textarea {
  flex: 1;
  resize: none;
  height: auto;
  min-height: 2rem;
  background: #f4f4f4;
}

.modal .title-label {
  font-size: 1.4rem;
  font-weight: 600;
}

.modal .title-label textarea {
  border: none;
  background: #fff;
  padding: 0;
}

.modal span {
  display: block;
  width: 10%;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.modal button {
  background-color: #089196;
  color: #fff;
  padding: 0.5rem 1.5rem;
  margin: 0 0.2rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.modal button:hover {
  background-color: #076b6b;
}

.modal button.delete-button {
  background-color: #cc0000;
}

.modal button.delete-button:hover {
  background-color: #ff4444;
}

/* 라벨선택 select */
.dropdown-wrapper {
  position: relative;
  cursor: pointer;
  flex: 1;
}
.dropdown-selected {
  padding: 0.6em 1em;
  border-radius: 0.3rem;
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-selected::after {
  content: '▼';
  display: block;
}
.dropdown-options {
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  position: absolute;
  width: 100%;
  max-height: 15rem;
  padding: 0.8rem;
  overflow-y: auto;
  background: #fff;
  z-index: 10;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
.dropdown-option {
  display: inline-block;
  border-radius: 0.3rem;
  padding: 0.3em 1em;
  margin: 0.2rem;
  cursor: pointer;
  font-size: 0.9rem;
}

/* 라벨관리 */
.label-panel {
  padding: 1rem;
  background: #f4f4f4;
}
.label-panel li{
  display: flex;
}
.label-panel ul button {
  padding: 0;
  margin: 0;
  background: none;
}

/* 툴팁 */
.tooltip{
  position: fixed;
  top: 0;
  left: 0;
  width: 26rem;
  background: #fff;
  border: 1px solid #bbb;
  padding: 1.2rem;
  border-radius: .4rem;
  box-shadow: 0 3px 7px rgba(0,0,0,0.2);
  z-index: 100;
  pointer-events: none;
}

.tooltip-content .title{font-size: 1.2rem;font-weight: 800;margin-bottom: 1rem;padding-bottom:0.8rem;border-bottom:1px solid #ddd;}
.tooltip-content .desc{font-size: 1rem;}
.tooltip-content .date{font-size: 0.9rem;margin:1rem 0 0.5rem;color:#999;}
.tooltip-content .label{font-size: 0.9rem;}